// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

// movil
@media (max-width: 767px) {
  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

}

// print
@media print{
  .hide{
    display: none;
  }

  h1.print-only{
    display: block;
    text-align: center;
    text-transform: uppercase;
  }
}

// table
.button-cell{
    width: 150px;
}
h1{
  display: none;
}


